@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Pacifico&family=Prompt:wght@200&family=Righteous&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Noto+Sans:ital,wght@1,200&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Arvo:ital@1&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}
/*Navigation Bar*/

.menu-bar {
    background: none;

} 

.navbar-brand{
    font-family: 'Tilt Warp', cursive;
    color: yellow;
    width: 200px;
    margin-left: 100px;
}

.navbar-brand:hover{
    color: yellow;
}

.nav-link {
    font-size: 17px;
    margin: 15px;
    color: white!important;
    font-weight: 500;
    margin-right: 50px;
}

.navbar-nav {
    text-align: left;
}

.menu-bar .navbar-toggler {
    padding-right: 5px;
    outline: none!important;
    border: none!important;
}

.navbar span {
    color: white;
}

.navbar .fa{
    color: white;
    font-size: 20px;
}


.nav-link:hover {
    border-bottom: 1px solid yellow;
}

/*Homepage*/
body{
    background: url("images/black-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
} 

.webdev img {
    width: 40%;
    float: right;
    margin-right: 140px;
}

.text-box {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 8%;
}

.text-box p {
    font-size: 30px;
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    margin-left: 110px;
    margin-bottom: 10px;
}

.text-box h1 {
    font-size: 50px;
    line-height: 60px;
    margin-left: 110px;
    font-family: 'Anton', sans-serif;
    color: yellow;
}

.text-box h3 {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 110px;
    margin-bottom: 0px;
    color: white;
}

.social-links h4 {
    font-size: 15px;
    float: left;
    color: #fff;
}

.social-links {
    letter-spacing: 5px;
    margin-bottom: 30%;
    float: right;
}

.social-links img {
    width: 25px;
    margin-bottom: 0px;
}

/*main*/
.Projects{
    margin-top: 45%;
    text-align: center;
    color: yellow;
    letter-spacing: 10px;
    justify-content: center;
    font-size: 70px;
}

article{
    background-color: white;
    padding: 30px;
    margin: 30px;
    margin-bottom: 0px;
    border-radius: 20px;
    border-color: black;
}

article:last-child{
    margin-bottom: 0;
}

article p{
    margin-top: 16px;
    line-height: 24px;
    color:black;
}

.About {
   text-align: center;
   margin-top: 100px;
   color: yellow;
   font-size: 70px;
   letter-spacing: 10px;

}

.About-Me {
        display: flex;
        align-items: center;
        justify-content: center
}

.my img {
    flex-basis: 70%;
    order: 2;
    margin-left: 100px;
}

.Intro{
    padding-left: 20px;
    margin-right: 20px;
}

.name {
    background: #CFB300;
    background: linear-gradient(to right, #CFB300 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%); (#CFAA17 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Intro p {
    color: white;
    word-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 40px;
    text-align: justify;
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 53px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid yellow;
}

.btn-slide2:hover {
    background-color: yellow;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: black;

}

.btn-slide2:hover span.circle2 {
    color: white;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: block;
    color: black;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: yellow;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    left: 80px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    color: black;
    left: 80px;
}

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: black;
}


.TechnologyStack {
    display: flex;
    padding: 5px;
    margin: auto;
    
}

.TechStack {
    color: #CFB300;
    margin-top: 20px;
}

.JavaScript {
    background-color: white;
    border-radius: 10px;
    width: 200px;

}

.JavaScript img{
    width: 50px;
    margin: 5px;
}

.JS {
    color: black;
    margin: 15px;
    letter-spacing: 2px;
}

.HTML {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;
}

.HTML img {
    width: 50px;
    margin: 5px;
}

.HyperText {
    color: black;
    margin: 30px;
    letter-spacing: 2px;
}

.CSS {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;
}

.CSS img {
    width: 35px;
    margin: 5px;
}

.Cascading {
    color: black;
    margin: 40px;
    letter-spacing: 2px;
}

.TechStack2 {
    display: flex;
    padding: 3px;
    margin: auto;
    
}

.SQL {
    background-color: white;
    border-radius: 10px;
    width: 200px;
}

.SQL img {
    width: 60px;
    height: 45px;
    margin: 5px;
}

.My-SQL {
    color: black;
    margin: 30px;
    letter-spacing: 2px;
}


.Java {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;
}

.Java img {
    width: 30px;
    height: 50px;
    margin-left: 15px;
    margin-top: 5px;
}

.ja-va {
    color: black;
    margin-left: 40px;
    letter-spacing: 2px;
}

.Photo {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;

}

.Photo img{
    width: 50px;
    margin: 5px;
}

.Photoshop {
    color: black;
    margin: 15px;
    letter-spacing: 2px;
}


.Contact-Me h1 {
    text-align: center;
    color: yellow;
    letter-spacing: 10px;
    justify-content: center;
    font-size: 70px;
    margin-top: 50px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }

  .app-form-button-1 {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
  }
  
  .app-form-button:hover, .app-form-button-1:hover {
    color: #b9134f;
  }

/*Footer

footer{
    background: rgb(201, 201, 55);
    position: sticky;
    bottom: 50;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 20px;
    color: white;
    margin-top: 20px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 12px;
    margin-right: 30px;
    font-size: 20px;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials a li {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 5px 0;
}

.footer-bottom p{
    text-transform: capitalize;
    word-spacing: 2px;
    font-size: 12px;
}

.footer-bottom span{
    text-transform: uppercase;
    color: yellow;
    font-size: 15px;
}

*/
@media only screen and (max-width: 1000px) {
    
    /*Navbar*/

    .menu-bar{
        background-color: black;
    }

    .nav-link{
        padding: 0;
    }
    .nav-link:hover {
        border-bottom: none;
        border-color: yellow!important;
        font-weight: 600;
    }

    .navbar-brand{
        float: left;
        margin-left: 5px;
    }

    /*Homepage*/

    .myself img {
        flex-direction: column-reverse;
        height: 120%;
        width: 110%;
        margin-right: -20px;
        position: sticky;
    }

    .text-box {
        flex-direction: column-reverse;
        position: relative;
        float: left;
    }
    
    .text-box p {
        font-size: 22px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .text-box h1 {
        font-size: 35px;
        margin-left: 50px;
        line-height: 20px;
    }

    .text-box h3 {
        font-size: 15px;
        margin-left: 50px;
    }

    .social-links h4 {
        font-size: 15px;
        float: left;
        letter-spacing: 1px;
        margin-left: 50px;
    }

    .social-links {
        letter-spacing: 1px;
        float: left;
    }
    .social-links img {
        width: 20px;
        margin-bottom: 100px;
    }

    .Projects {
        margin-top: 2px;
        text-align: center;
        justify-content: center;
        font-size: 60px;
        float: center;
        margin-bottom: 30px;
    }
    
    /*Footer*/
    .footer{
        position: fixed;
    }

    @media screen and (max-width: 520px) {
        .screen-body {
          flex-direction: column;
        }
      
        .screen-body-item.left {
          margin-bottom: 30px;
        }
      
        .app-title {
          flex-direction: row;
        }
      
        .app-title span {
          margin-right: 12px;
        }
      
        .app-title:after {
          display: none;
        }
      }
      
      @media screen and (max-width: 600px) {
        .screen-body {
          padding: 40px;
        }
      
        .screen-body-item {
          padding: 0;
        }
      }
}
